<h1> Gerenciador de equipamentos </h1>
<%= link_to 'Fabricantes', manufacturers_path %>
<%= link_to 'Produtos', products_path %>
<%= link_to  "Informações do produto", descriptions_path %>
<%= link_to "Colaboradores", collaborators_path%>
<%= link_to "Agregados", allocations_path%>
